.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Page {
  background: url('Images/painting.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background: url('Images/scripture.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Button {
  background-color: #3f392e;
  border: none;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 2px;


}

.Node{
  background-color: #8d7d60;
  color: #ffffff;
  border-radius: 20%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;

}

.Child-List{
  display: table;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li{
  display: inline;
}

p{
  color: #ffffff;
}