.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Page {
  background: url('Images/painting.jpg') no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  background: url('Images/scripture.jpg') no-repeat center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Button {
  background-color: #3f392e;
  border: none;
  color: #ffffff;
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 2px;
  
}


.Button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.Node {
  /* background-color: #8d7d60; */
  background: linear-gradient(
    rgba(0, 0, 0, 0.1), 
    rgba(0, 0, 0, 1)
  ), url('Images/man.jpg') center;

  background-size: cover;
  color: #ffffff;
  -webkit-text-stroke: 1px #ffffff;
  font-size: 150%;
  border-radius: 30%;
  padding: 50px;
  margin: 15px;
  display: inline-block;
  border-style: groove;
  border-width: 4px;
}

.Node.Main {
  min-width: 30%;
}


.Child-List{
  display: table;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  display: inline-block;
}

@font-face {
  font-family: Onciale;
  src: url('Fonts/onciale-phf/Onciale\ PhF01.ttf')
}

.Onciale {
  font-family: Onciale, 'Times New Roman', Times, serif; 
}

h2.Onciale {
  font-family: Onciale, 'Times New Roman', Times, serif; 
  font-variant: small-caps;
}

h1 {
  font-size: 300%;
  font-variant: small-caps;
}
